html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		include mixins
		block content
		div.header Это шапка страницы layout1
		ul
			li: a(href="#") Главная
			li: a(href="#") Новости
			li: a(href="#") Контакты
			li: a(href="#") О нас
		div.footer Это футер страницы layout1
