mixin breadcrumbs(a)
	ul.breadcrumbs&attributes(attributes)
		if a.breadcrumbs
			each breadcrumb in a.breadcrumbs
				li
					if breadcrumb.link
						a(href="#")
							span!=breadcrumb.name
					else 
						span!=breadcrumb.name
					
